body {

	margin: auto;
	text-align: center;
	font-family: "Osawald", sans-serif;
	font-size: 14pt;
	background-image: url("prism_red.jpg");
}

#collab_title{
	background-color: orangered;
}
#create_session_title{
	background-color: orangered;
}
#playaround_title{
	background-color: orangered;
}
#preferences_title{
	background-color: orangered;
}
.main_body{
	font-family: "Oswald", sans-serif;
}
#create_session_body{
	font-family: "Oswald", sans-serif;
}

/*#username_body {
	padding-top: 250px;
	margin: auto;
	font-family: monospace;
	font-size: 14pt;
	text-align: center;
	background-image: url("prism_red.jpg");
		}*/
a {
	color: white;
}
.centerBox {
	text-align: center;
}

#prefernceslink {
	font-size: 10pt;
}
form {
	text-align: center;
}

#worstDay {
	font-size: 14pt;
}
/*#done {
	position: absolute;
	margin-bottom: 0%;
}
/*#input_body {
	padding-top: 150px;
	margin: auto;
	text-align: center;
	font-family: monospace;
	font-size: 14pt;
	background-image: url("prism_red.jpg");
}
#create_session_body {
	padding-top: 150px;
	margin: auto;
	text-align: center;
	font-family: monospace;
	font-size: 14pt;
	background-image: url("prism_red.jpg");
}*/
